@import '../../../../assets/styles/colors';

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-left: 20px;
}

li > a {
  cursor: pointer;
}

.mat-toolbar {
  background-color: $blue-enscm;
}

.toolbar-row {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.left-section {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}

.center-section {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  height: 100%;
}

.title {
  margin: 0;
}

.right-section {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  height: 100%;
}

.active {
  color: $turquoise-enscm;
  border-bottom: $turquoise-enscm thin solid;
}

.home-link {
  height: 100%;
  display: flex;
  margin: 0;
  align-items: center;
  padding: 10px;
}

.home-link:hover {
  border-bottom: none;
}

.logo {
  margin: auto;
  height: 80%;
}

.menu-button {
  color: white;
}

h1 {
  color: white;
}

/* --------------------- Media Queries --------------------- */

@media (max-width: 700px) {
  .left-section {
    display: none;
  }
}

@media (max-width: 1700px) {
  .menu-horizontal {
    display: none;
  }
}

@media (min-width: 1700px) {
  .menu-button {
    display: none;
  }
}
