<mat-toolbar>
  <div class="toolbar-row">
    <div class="left-section">
      <a routerLink="/questions" class="home-link"><img class="logo"
                                                        src="../../../../assets/images/logos/logo_enscm_turquoise.png"
                                                        alt="logo"></a>
      <a routerLink="/questions" class="home-link"><img class="logo"
                                                        src="../../../../assets/images/logos/logo_um_blanc.png"
                                                        alt="logo"></a>
    </div>
    <div class="center-section">
      <a routerLink="/questions" class="home-link"><h1 class="title">Chemistry Death Race</h1></a>
    </div>
    <div class="right-section">
      <ul *ngIf="isUserLoggedIn" class="menu-horizontal">
        <li><a routerLink="/questions" routerLinkActive="active">Questions</a></li>
        <li><a routerLink="/categories" routerLinkActive="active">Catégories</a></li>
        <li *ngIf="isUserAdmin"><a routerLink="/stats" routerLinkActive="active">Statistiques</a></li>
        <li *ngIf="isUserAdmin"><a routerLink="/register" routerLinkActive="active">Ajouter un contributeur</a></li>
        <li><a (click)="logout()">Déconnexion</a></li>
      </ul>

      <button *ngIf="isUserLoggedIn" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Menu" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu" class="menu-button">
        <a routerLink="/questions">
          <button mat-menu-item>
            <mat-icon>quiz</mat-icon>
            <span>Questions</span>
          </button>
        </a>
        <a routerLink="/categories">
          <button mat-menu-item>
            <mat-icon>category</mat-icon>
            <span>Catégories</span>
          </button>
        </a>
        <a routerLink="/stats" *ngIf="isUserAdmin">
          <button mat-menu-item>
            <mat-icon>query_stats</mat-icon>
            <span>Statistiques</span>
          </button>
        </a>
        <a routerLink="/register" *ngIf="isUserAdmin">
          <button mat-menu-item>
            <mat-icon>person_add</mat-icon>
            <span>Ajouter un contributeur</span>
          </button>
        </a>
        <a (click)="logout()" *ngIf="isUserLoggedIn">
          <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Déconnexion</span>
          </button>
        </a>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
