@import "src/assets/styles/colors.scss";


h1 {
  color: $blue-enscm;
}

mat-grid-tile {
  background: $turquoise-enscm;
  border-radius: 20px;
}

.mat-grid-list > h1 {
  margin-bottom: 100px;
}

mat-table {
  width: 100%;
}

mat-card {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

mat-card > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: $blue-enscm;
}

mat-card > .header > h1 {
  margin: 0;
}

.mat-cell, .mat-header-cell {
  padding: 10px;
  width: 50%;
}

.mat-column-name {
  width: 50%;
}

.mat-column-difficulty {
  width: 25%;
}

.mat-column-percentage {
  width: 25%;
}

.mat-cell {
  color: $blue-enscm;
}

mat-grid-tile {
  transition: all 0.3s ease-in-out;
}

mat-grid-tile:hover {
  scale: 1.03;
  background-color: $darker-turquoise-enscm;
}
