@import "src/assets/styles/colors.scss";


h1 {
  color: $blue-enscm;
  margin: 0;
}

mat-grid-tile {
  background: $turquoise-enscm;
  border-radius: 20px;
}

mat-table {
  width: 100%;
}

.questions-stats {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.questions-stats > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: $blue-enscm;
}

.mat-cell, .mat-header-cell {
  padding: 10px;
  width: 50%;
}

.mat-column-name {
  width: 50%;
}

.mat-column-difficulty {
  width: 25%;
}

.mat-column-percentage {
  width: 25%;
}

.mat-cell {
  color: $blue-enscm;
}
