<mat-card [formGroup]="mainForm" class="main-form">

  <mat-card-title *ngIf="!currentQuestionId">Ajouter une question</mat-card-title>
  <mat-card-title *ngIf="currentQuestionId">Modifier la question</mat-card-title>

  <mat-card class="form-card">
    <mat-card-subtitle>Question</mat-card-subtitle>
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Question</mat-label>
        <input type="text" matInput formControlName="name">
        <mat-error>Ce champ est requis</mat-error>
      </mat-form-field>
    </div>
    <p>Choisir une catégorie : </p>
    <div class="form-row">
      <mat-radio-group formControlName="category" class="radio-group" *ngIf="categories$ | async as categories">
        <mat-radio-button *ngFor="let category of categories" [value]="category">{{ category }}</mat-radio-button>
      </mat-radio-group>
    </div>
    <ng-container *ngIf="categories$ | async as categories">
      <div class="form-row" *ngIf="categories.length < 6">
        <mat-form-field appearance="fill">
          <mat-label>Ajouter une catégorie</mat-label>
          <input type="text" matInput [formControl]="categoryCtrl">
          <button mat-flat-button matSuffix mat-icon-button aria-label="Clear" (click)="addCategoryLocaly()">Ajouter</button>
        </mat-form-field>
      </div>
    </ng-container>
  </mat-card>

  <mat-card class="form-card">
    <mat-card-subtitle>Réponses</mat-card-subtitle>
    <div formArrayName="propositions">
      <div class="form-row" *ngFor="let answer of propositions.controls; let i = index" [formGroupName]="i">
        <mat-form-field appearance="fill">
          <mat-label>Réponse {{ i + 1 }}</mat-label>
          <input type="text" matInput formControlName="name" required>
          <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>
        <mat-radio-group (change)="updateCorrectAnswer(i)" formControlName="answer">
          <mat-radio-button [value]="true" [checked]="answer.get('answer')?.value">Bonne réponse</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <button mat-flat-button color="primary" (click)="addAnswer()" *ngIf="propositions.length < 4">Ajouter une réponse +</button>
        <button mat-flat-button color="primary" (click)="removeAnswer()" *ngIf="propositions.length > 1">Enlever une réponse -</button>
      </div>
    </div>

  </mat-card>

  <mat-card-actions *ngIf="mainForm.valid">
    <button *ngIf="!currentQuestionId" mat-flat-button color="primary" (click)="onSubmitForm()" [disabled]="loading$ | async" matTooltip="Enregister la nouvelle question" matTooltipPosition="left">
      <mat-icon class="btn_icon">save</mat-icon>
    </button>
    <button *ngIf="currentQuestionId" mat-flat-button color="primary" (click)="onSubmitForm()" [disabled]="loading$ | async" matTooltip="Sauvegarder la question" matTooltipPosition="left">
      <mat-icon class="btn_icon">save</mat-icon>
    </button>
  </mat-card-actions>
  <button mat-flat-button color="primary" (click)="onGoBack()" [disabled]="loading$ | async" matTooltip="Retour" matTooltipPosition="right">
    <mat-icon class="btn_icon">arrow_back</mat-icon>
  </button>
  <div class="spinner" *ngIf="loading$ | async">
    <img src="./assets/images/logo.png" alt="spinner" class="spinner-image">
  </div>
</mat-card>
