@import "src/assets/styles/colors.scss";

.img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  max-width: 100%;
}

.img-wrapper > p {
  margin: 30px;
  color: $blue-enscm;
  font-size: x-large;
  text-align: center;
}

img {
  margin: auto;
  width: 40%;
}

.img-wrapper > a {
  color: $blue-enscm;
  text-decoration: none;
  font-size: large;
  position: relative;
  bottom: 0;
}

.img-wrapper > a:hover {
  border-bottom: thin solid $blue-enscm;
}
