@import "src/assets/styles/colors.scss";

mat-form-field {
  width: 100%;

  &.full-width {
    width: 80%;
    margin-left: 10%;
  }
}

.mat-card-title {
  color: $blue-enscm;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-card {
  margin: 20px 0;
}

.radio-group {
  display: inline-flex;
  width: 100%;
  height: 60px;
  overflow-x: scroll;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

mat-card-actions {
  text-align: center;
}

.main-form {
  padding-bottom: 30px;
  position: relative;
}

button {
  margin-right: 16px;
}

.action-buttons {
  background-color: $blue-enscm;
  color: $background-color;
}
