<mat-card [formGroup]="mainForm" class="main-form">

  <mat-card-title *ngIf="!currentQuestionId">Ajouter une question</mat-card-title>
  <mat-card-title *ngIf="currentQuestionId">Modifier la question</mat-card-title>

  <mat-card class="form-card">
    <mat-card-subtitle>Question</mat-card-subtitle>
    <div class="form-row">
      <mat-form-field appearance="fill" (click)="nameMathField?.focus()">
        <mat-label>Nom de la question</mat-label>
        <input type="text" matInput formControlName="name" [value]="nameMathField?.value ?? ''" #nameField>
        <mat-error>Ce champ est requis</mat-error>
      </mat-form-field>
    </div>
    <p>Choisir une difficulté : </p>
    <div class="form-row">
      <mat-radio-group formControlName="difficulty" class="radio-group" *ngIf="localDifficulties as difficulties">
        <mat-radio-button *ngFor="let difficulty of difficulties" color="primary" [value]="difficulty"
                          (click)="updateDifficulty(difficulty.toString())">{{ difficulty }}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="form-row" *ngIf="localDifficulties as difficulties">
      <mat-form-field appearance="fill">
        <mat-label>Ajouter une difficulté</mat-label>
        <input type="text" matInput [formControl]="difficultyCtrl">
        <button mat-flat-button matSuffix class="local-add-button" aria-label="Add difficulty"
                (click)="addDifficultyLocally()" [disabled]="!difficultyCtrl.value">
          Ajouter
        </button>
      </mat-form-field>
    </div>
    <ng-container *ngIf="currentDifficulty != ''">
      <p>Choisir une catégorie : </p>
      <div class="form-row">
        <mat-radio-group formControlName="category" class="radio-group" *ngIf="localCategories as categories">
          <mat-radio-button *ngFor="let category of categories" color="primary"
                            [value]="category">{{ category }}</mat-radio-button>
        </mat-radio-group>
      </div>
      <ng-container *ngIf="localCategories as categories">
        <div class="form-row" *ngIf="categories.length < 6">
          <mat-form-field appearance="fill">
            <mat-label>Ajouter une catégorie</mat-label>
            <input type="text" matInput [formControl]="categoryCtrl">
            <button mat-flat-button matSuffix class="local-add-button" aria-label="Add category"
                    (click)="addCategoryLocally()" [disabled]="!categoryCtrl.value">
              Ajouter
            </button>
          </mat-form-field>
        </div>
      </ng-container>
    </ng-container>
  </mat-card>

  <mat-card class="form-card">
    <mat-card-subtitle>Réponses</mat-card-subtitle>
    <div formArrayName="propositions">
      <div class="form-row" *ngFor="let answer of propositions.controls; let i = index" [formGroupName]="i">
        <button *ngIf="propositions.length > 1" mat-icon-button color="warn" (click)="removeAnswer(i)"
                matTooltip="Supprimer la réponse" matTooltipPosition="left">
          <mat-icon>delete</mat-icon>
        </button>

        <mat-form-field appearance="fill" (click)="answerMathFields[i]?.focus()">
          <mat-label>Réponse {{ i + 1 }}</mat-label>
          <input type="text" matInput formControlName="name" required [value]="answerMathFields[i]?.value ?? ''"
                 [id]="'answer' + i + 'Field'">
          <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>

        <mat-radio-group (change)="updateCorrectAnswer(i)" formControlName="answer">
          <mat-radio-button class="answer-radio" color="primary" [value]="true"
                            [checked]="answer.get('answer')?.value">Bonne réponse
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="propositions.value.length > 0">
        <button mat-flat-button class="action-buttons" (click)="addAnswer()" *ngIf="propositions.length < 4"
                [disabled]="!propositions.at(propositions.length - 1).value.name.length">
          Ajouter une réponse +
        </button>
      </div>
    </div>

  </mat-card>

  <mat-card-actions>
    <button *ngIf="!currentQuestionId" mat-flat-button (click)="onSubmitForm()"
            [disabled]="loading || (!mainForm.valid)" matTooltip="Enregister la nouvelle question"
            matTooltipPosition="left" class="action-buttons">
      <mat-icon class="btn_icon">save</mat-icon>
    </button>
    <button *ngIf="currentQuestionId" mat-flat-button (click)="onSubmitForm()"
            [disabled]="loading || (!mainForm.valid)" matTooltip="Sauvegarder la question"
            matTooltipPosition="left" class="action-buttons">
      <mat-icon class="btn_icon">save</mat-icon>
    </button>
  </mat-card-actions>
  <button mat-flat-button (click)="onGoBack()" [disabled]="loading" matTooltip="Retour"
          matTooltipPosition="right" class="action-buttons">
    <mat-icon class="btn_icon">arrow_back</mat-icon>
  </button>
</mat-card>
<app-spinner *ngIf="loading"></app-spinner>
