<h1>Liste des questions</h1>
<button class="newButton" mat-flat-button color="primary" (click)="onNewQuestion()" matTooltip="Créer une question"
        matTooltipPosition="right">
  <mat-icon class="btn_icon">add</mat-icon>
</button>
<mat-card>

  <app-questions-list-toolbar (onSearch)="search($event)"></app-questions-list-toolbar>

  <ng-container *ngIf="!(loading$ | async)">
    <ng-container *ngIf="questions$ | async as questions">
      <p *ngIf="!questions.length">Aucune question disponible. </p>
    </ng-container>
  </ng-container>

  <mat-accordion *ngIf="questions$ | async as questions" class="panel-wrapper">
    <mat-expansion-panel *ngFor="let question of questions" class="custom-panel">
      <mat-expansion-panel-header>
        <div class="infos">
          <h1 class="question">{{ question.name }}</h1>
          <p style="font-style: italic;">{{ question.difficulty }} - {{ question.category }}</p>
        </div>
        <span class="spacer"></span>
        <div class="btns">
          <button mat-icon-button (click)="onEditQuestion(question.id)" matTooltip="Modifier la question"
                  matTooltipPosition="left" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="onDeleteQuestion(question.id)" matTooltip="Supprimer la question"
                  matTooltipPosition="right" color="warn" >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-expansion-panel-header>
      <div class="infos">
        <h4>Difficulté : {{ question.difficulty }}</h4>
        <p *ngIf="question.propositions.length == 1">La réponse</p>
        <p *ngIf="question.propositions.length > 1">Les réponses</p>
        <ul>
          <li *ngFor="let answer of question.propositions">
            <span *ngIf="answer.answer" style="color: green">{{ answer.name }} - Bonne réponse</span>
            <span *ngIf="!answer.answer" style="color: darkred">{{ answer.name }}</span>
          </li>
        </ul>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
<app-spinner *ngIf="loading$ | async"></app-spinner>
