@import "../../../assets/styles/colors";

.question {
  color: $blue-enscm;
  font-size: large;
  margin-top: auto;
  margin-bottom: auto;
}

.infos {
  overflow: hidden;
}

.infos > p {
  margin: 0;
}

a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.newButton {
  margin-bottom: 20px;
  background-color: $blue-enscm;
}

mat-table {
  width: 100%;
}

.question-row td {
  border-bottom-width: 0;
}

.mat-cell, .mat-header-cell {
  padding: 10px;
}

tr.detail-row {
  height: 0;
}

tr.question-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.question-row:not(.expanded-row):active {
  background: $background-color;
}

.mat-column-name {
  width: 50%;
}

.mat-column-difficulty {
  width: 25%;
}

.mat-column-category {
  width: 25%;
}

.btn_icon {
  margin: auto 10px;
}

.good-answer {
  color: green;
}

.bad-answer {
  color: darkred;
}
