@import "../../../assets/styles/colors";

div {
  border-bottom: $color-accent thin solid;
}

.spinner {
  border-bottom: none;
}

.question {
  color: $blue-enscm;
  font-size: large;
  margin-top: auto;
  margin-bottom: auto;
}

.infos {
  border-bottom: none;
}

.infos > p {
  margin: 0;
}

.panel-wrapper {
  display: flex;
  flex-direction: column;
}

.custom-panel {
  width: 100%;
}

.custom-panel > mat-expansion-panel-header {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
}

a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.form {
  width: 100%;
}

.search-bar {
  width: 70%;
}

.search-type {
  width: 30%;
}

.newButton {
  margin-bottom: 20px;
  background-color: $blue-enscm;
}

.btn_icon {
  margin: auto 10px;
}

.spacer {
  flex: 1 1 auto;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-bottom: none;
}
