@import "src/assets/styles/colors.scss";

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs > mat-form-field {
  margin-bottom: 20px;
}

.connection-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connection-buttons > button {
  width: 100%;
  background-color: $blue-enscm;
  color: white;
}

.connection-buttons > p {
  margin-top: 10px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .action-buttons {
    flex-direction: column;
  }
}

.action-buttons > button {
  margin-top: 20px;
  min-width: 30%;
}
