/* You can add global styles to this file, and also import other style files */
@import "src/assets/styles/colors.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $background-color;
}

a {
  color: white;;
  text-decoration: none;
  font-weight: normal;

  &:hover {
    border-bottom: white thin solid;
  }
}

h1 {
  color: $blue-enscm;
}

mat-form-field {
  color: $blue-enscm;
}

.success {
  background-color: green;
  color: white;
}

.error {
  background-color: red;
  color: white;
}

.mat-simple-snackbar-action {
  color: white;
}
