/* You can add global styles to this file, and also import other style files */
@import "src/assets/styles/colors.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $background-color;
}

a {
  color: $background-color;;
  text-decoration: none;
  font-weight: normal;

  &:hover {
    border-bottom: $background-color thin solid;
  }
}

h1 {
  color: $blue-enscm;
}

mat-form-field {
  color: $blue-enscm;
}
