/* Définition de variables de couleurs */

$color-primary: rgb(65, 83, 175);
$color-accent: rgb(48, 48, 48);

$background-color: #eff9ff;
$blue-enscm: #0066a9;
$turquoise-enscm: #8acbc1;
$red-color: #d64e50;
